.review {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid #b2b2d8;
    border-bottom: 1px solid #b2b2d8;
    padding-bottom: 15px;
}

.header {
    display: flex;
    justify-content: left;
    margin: 0 50px;
}

.rating {
    margin-left: 100px;
    margin-right: 10px;
}

.comment {
    text-align: left;
    margin: 0 500px;
    font-size: 18px;
}

.buttons {
    margin-top: 18px;
    display: flex;
    font-size: 20px;
}

.buttons li {
    margin-right: 5px;
    display: flex;
}

.likes {
    margin-top: 18px;
    margin-left: 5px;
}

