.register {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    margin: 15px auto;
}

input, label {
    margin-bottom: 10px;
}

.username, .password {
    border: none;
    border-radius: 50px;
}

.registerBtn {
    border: none;
    border-radius: 50px;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
}